@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
body {
  background: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  font-family: 'Lobster', cursive; }

h1 {
  margin: 0;
  font-size: 4em;
  text-align: center;
  color: transparent;
  font-weight: normal;
  background: -webkit-linear-gradient(330deg, yellow, red);
  background: -o-linear-gradient(330deg, yellow, red);
  background: linear-gradient(120deg, yellow, red);
  -webkit-background-clip: text;
  background-clip: text;
  position: relative; }
  h1:after {
    content: 'Texto con fondo degradado';
    position: absolute;
    width: 100%;
    top: 3px;
    left: 3px;
    color: #000;
    z-index: -1; }
